.bird{
    height: fit-content;
    width: fit-content;
    margin: 1rem;
    cursor: pointer;
}



.bird-image img{
    height: 300px;
    width: 400px;
    border-radius: 5px;

    display: block; 
    max-width: 100%; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4); 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.bird-image img:hover{
    transform: translateY(-15px); 
    box-shadow: 0px 9px 18px rgba(1.2, 2.5, 1.7, 0.6); 
  
}